<h1>Listing ideas</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

<% @ideas.each do |idea| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h idea.title %></td>
    <td><%=h idea.description %></td>
    <td><%=h idea.price %></td>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New idea', new_idea_path %>

<div id = "ideas-list">
	<h3> Listing Ideas </h3>
		<% if current_user -%>
		  <%= link_to 'New idea', new_idea_path %>
		<% end -%>   

  <table>
	<% for idea in @ideas %>
		<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
			
			<td>
				<%= image_tag 'icons/Games.png', :class => 'list-image', :size => "60x60" %>
			</td>
			
			<td class = "list-description">
				<dl>
					<dt><%= link_to idea.title, idea %> </dt>
					<dd><%=h truncate(idea.description, :length => 50) %> </dd>
					<dd><%= idea.price %> $ </dd>
				</dl>
		     </td>

		</tr>
		<% end %>
  </table>
  </div>

================================


<div id="bcards-little">
  <div class="col0">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/simplescott/designing-obama">
            <img alt="Kickstarter_book" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/674/kickstarter_book.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/simplescott/designing-obama">Designing Obama</a></h5><div class="by">
            by <a href="/profile/simplescott">Scott Thomas</a>
          </div></div>
        <div class="middle">
          <p>The Design Director of the Obama campaign has collaborated with artists and designers to create a book of art &amp; design from the historic campaign.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 45.91%;">
                &nbsp;&nbsp;$29,838.51 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;46% funded
            </div>
            <div class="time-left right">
              41 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col1">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/jamietanner/jamie-tanner-makes-a-new-graphic-novel-you-get-or">
            <img alt="Ksproject" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/1014/ksproject.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/jamietanner/jamie-tanner-makes-a-new-graphic-novel-you-get-or">Jamie Tanner Makes A New Graphic Novel, You Get Original Art (and More)</a></h5><div class="by">
            by <a href="/profile/jamietanner">Jamie Tanner</a>
          </div></div>
        <div class="middle">
          <p>Do you like comics/ graphic novels? Want to follow along as one is made &amp; know you helped make it happen? Want to get original art &amp; other cool stuff?</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 100%;">
                &nbsp;&nbsp;$5,581.01 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;112% funded
            </div>
            <div class="time-left right">
              51 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col2">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/577582283/masters">
            <img alt="Kung-nai" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/479/kung-nai.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/577582283/masters">The Vanderbilt Republic Foundation: “Masters”</a></h5><div class="by">
            by <a href="/profile/577582283">George Del Barrio</a>
          </div></div>
        <div class="middle">
          <p>This fall, a historic photographic project will be staged in Cambodia. The reestablishment of art and culture over the memory of genocide is the goal.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 75.02%;">
                &nbsp;&nbsp;$37,510 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;75% funded
            </div>
            <div class="time-left right">
              9 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col3">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/1854079881/art-as-fashion-a-mural-transformed-into-handbags">
            <img alt="Andreawithmural" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/630/andreawithmural.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/1854079881/art-as-fashion-a-mural-transformed-into-handbags">Art as Fashion: A Mural Transformed into Handbags</a></h5><div class="by">
            by <a href="/profile/1854079881">andrea</a>
          </div></div>
        <div class="middle">
          <p>"Art as Fashion" is my dream of transforming one large work of art into many functional, beautiful, and inspiring handbags for women to enjoy.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 63.25%;">
                &nbsp;&nbsp;$2,530 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;63% funded
            </div>
            <div class="time-left right">
              20 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col0">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/gmcalpin/join-the-multiplex-book-1-club-of-awesome">
            <img alt="Multiplex_kick" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/783/multiplex_kick.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/gmcalpin/join-the-multiplex-book-1-club-of-awesome">Join the Multiplex: Book 1 Club of Awesome</a></h5><div class="by">
            by <a href="/profile/gmcalpin">Gordon McAlpin</a>
          </div></div>
        <div class="middle">
          <p>Multiplex is a popular webcomic about life at a movie theater — and it needs a print collection, STAT!</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 32.96%;">
                &nbsp;&nbsp;$2,472 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;33% funded
            </div>
            <div class="time-left right">
              78 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col1">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/vancereeser/lake-beast-animated-short-film">
            <img alt="Kickstarter-avatar" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/775/kickstarter-avatar.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/vancereeser/lake-beast-animated-short-film">LAKE BEAST animated short film</a></h5><div class="by">
            by <a href="/profile/vancereeser">Vance Reeser</a>
          </div></div>
        <div class="middle">
          <p>A strange glowing face once smiled up at a boy from the bottom of a polluted lake. Now older and alone, the man obsesses over seeing it again.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 84.25%;">
                &nbsp;&nbsp;$1,685 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;84% funded
            </div>
            <div class="time-left right">
              8 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col2">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/1671016343/matt-held-facebook-portraits-phase-ii">
            <img alt="Jillian" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/729/Jillian.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/1671016343/matt-held-facebook-portraits-phase-ii">Matt Held - Phase II Facebook paintings</a></h5><div class="by">
            by <a href="/profile/1671016343">Matt Held</a>
          </div></div>
        <div class="middle">
          <p>Exploring a classic style of portraiture and figurative painting inspired by social networking and crowd participation.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 46.17%;">
                &nbsp;&nbsp;$1,616 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;46% funded
            </div>
            <div class="time-left right">
              20 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col3">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/1566255659/video-game-set-in-iran-during-the-post-election-ri-0">
            <img alt="Kickstart1" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/670/kickstart1.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/1566255659/video-game-set-in-iran-during-the-post-election-ri-0">Video Game Set in Iran During the Post-Election Riots</a></h5><div class="by">
            by <a href="/profile/1566255659">Borut</a>
          </div></div>
        <div class="middle">
          <p>A game that takes a look at what it was like in Tehran during the post-election riots of this past June.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 12.41%;">
                &nbsp;&nbsp;$1,862.11 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;12% funded
            </div>
            <div class="time-left right">
              76 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col0">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/224129525/become-a-citizen-of-the-wonder-city">
            <img alt="Websitehpg-draft3" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/827/websiteHpg-draft3.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/224129525/become-a-citizen-of-the-wonder-city">Become A Citizen of The Wonder City</a></h5><div class="by">
            by <a href="/profile/224129525">Courtney Zell &amp; Justin Rivers</a>
          </div></div>
        <div class="middle">
          <p>Be in a comic! The Wonder City is a graphic novel that traces the mythological origins of New York City and we want you to be a part of it.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 85.67%;">
                &nbsp;&nbsp;$4,283.45 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;86% funded
            </div>
            <div class="time-left right">
              73 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col1">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/TheQuiet/make-a-new-cd-with-the-quiet">
            <img alt="Childjumpkickdude-hi_3" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/628/childJumpKickDude-HI_3.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/TheQuiet/make-a-new-cd-with-the-quiet">Make a New CD with The Quiet!</a></h5><div class="by">
            by <a href="/profile/TheQuiet">The Quiet</a>
          </div></div>
        <div class="middle">
          <p>We are a piano pop/rock band from Los Angeles, and we need your generous support to record our second album!!</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 70.4%;">
                &nbsp;&nbsp;$7,040 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;70% funded
            </div>
            <div class="time-left right">
              30 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col2">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/fred/emoji-dick">
            <img alt="Emoji_dick_header" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/1151/emoji_dick_header.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/fred/emoji-dick">Emoji Dick</a></h5><div class="by">
            by <a href="/profile/fred">Fred Benenson</a>
          </div></div>
        <div class="middle">
          <p>Translating Moby Dick into Japanese Emoji Icons using Amazon's Mechanical Turk.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 26.46%;">
                &nbsp;&nbsp;$926.01 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;26% funded
            </div>
            <div class="time-left right">
              24 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col3">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/chirpradio/launch-the-webstream-for-the-chicago-independent-r">
            <img alt="Kickstarter" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/899/kickstarter.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/chirpradio/launch-the-webstream-for-the-chicago-independent-r">Launch the webstream for the Chicago Independent Radio Project (CHIRP) radio station!</a></h5><div class="by">
            by <a href="/profile/chirpradio">CHIRP Radio</a>
          </div></div>
        <div class="middle">
          <p>CHIRP has been working for two years to organize and build a new community radio station. This campaign will help launch the online version this fall.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 95.46%;">
                &nbsp;&nbsp;$4,582 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;95% funded
            </div>
            <div class="time-left right">
              48 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col0">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/robinsloan/robin-writes-a-book-and-you-get-a-copy">
            <img alt="Ks-promo-img2" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/632/ks-promo-img2.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/robinsloan/robin-writes-a-book-and-you-get-a-copy">Robin writes a book (and you get a copy)</a></h5><div class="by">
            by <a href="/profile/robinsloan">Robin Sloan</a>
          </div></div>
        <div class="middle">
          <p>I'm writing a detective story set halfway between San Francisco and the internet. And the more people who reserve a copy, the better each one will be!</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 100%;">
                &nbsp;&nbsp;$9,006.01 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;257% funded
            </div>
            <div class="time-left right">
              37 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col1">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/1360225971/a-dictionary-story-art-book">
            <img alt="Dic_development" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/765/dic_development.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/1360225971/a-dictionary-story-art-book">A Dictionary Story - Art book</a></h5><div class="by">
            by <a href="/profile/1360225971">w_sam</a>
          </div></div>
        <div class="middle">
          <p>Playing with language, poetry and type this illustrated story is about a dictionary that brings her words to life.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 58.1%;">
                &nbsp;&nbsp;$4,067 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;58% funded
            </div>
            <div class="time-left right">
              18 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col2">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/unusualcreatures/songs-for-unusual-creatures">
            <img alt="Bilby" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/617/bilby.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/unusualcreatures/songs-for-unusual-creatures">Songs For Unusual Creatures</a></h5><div class="by">
            by <a href="/profile/unusualcreatures">Michael Hearst</a>
          </div></div>
        <div class="middle">
          <p>A book/CD by Michael Hearst featuring songs and factoids that celebrate some of the most bizarre (and under-appreciated) animals that roam the planet!</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 100%;">
                &nbsp;&nbsp;$5,950 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;119% funded
            </div>
            <div class="time-left right">
              1 day to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col3">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/994120775/one-night-stand-mini-comic-and-casual-encounters">
            <img alt="Photo_296_1_" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/1149/Photo_296_1_.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/994120775/one-night-stand-mini-comic-and-casual-encounters">"One Night Stand" mini-comic and casual encounters with comic book retailers</a></h5><div class="by">
            by <a href="/profile/994120775">davidhopkins</a>
          </div></div>
        <div class="middle">
          <p>On December 30th, we're shipping our mini-comic across North America. Help support casual encounters with comic book retailers.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 100%;">
                &nbsp;&nbsp;$515 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;103% funded
            </div>
            <div class="time-left right">
              41 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col0">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/795396878/pielab">
            <img alt="Pielab" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/1137/PIELAB.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/795396878/pielab">PieLab</a></h5><div class="by">
            by <a href="/profile/795396878">John Bielenberg</a>
          </div></div>
        <div class="middle">
          <p>Neutral Place + A Slice of Pie = Conversation = Ideas + Design = Positive Change</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 18.82%;">
                &nbsp;&nbsp;$1,882 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;19% funded
            </div>
            <div class="time-left right">
              37 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col1">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/1136753854/put-this-on-a-web-video-pilot-about-dressing-like">
            <img alt="Pto_kickstarter" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/740/pto_kickstarter.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/1136753854/put-this-on-a-web-video-pilot-about-dressing-like">Put This On: A Web Video Pilot About Dressing Like A Grownup</a></h5><div class="by">
            by <a href="/profile/1136753854">Jesse Thorn</a>
          </div></div>
        <div class="middle">
          <p>Jesse Thorn and Adam Lisagor want to make a web video series to help men get dressed.  Like grown-ups.  And *you* can be a producer.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 100%;">
                &nbsp;&nbsp;$3,963.05 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;264% funded
            </div>
            <div class="time-left right">
              6 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col2">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/1833785894/100k-stray-toasthed-pull-toys">
            <img alt="Toasthed_poster" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/1161/Toasthed_Poster.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/1833785894/100k-stray-toasthed-pull-toys">100K Stray Toasthed Pull Toys</a></h5><div class="by">
            by <a href="/profile/1833785894">C. Sven Johnson</a>
          </div></div>
        <div class="middle">
          <p>The Toastheds project is an effort to help democratize manufacturing by making professional-level product design available to the maker community.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 5.33%;">
                &nbsp;&nbsp;$400 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;5% funded
            </div>
            <div class="time-left right">
              37 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col3">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/killscreen/do-you-read-do-you-play-videogames-do-you-read-v">
            <img alt="Killscreen35" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/766/killscreen35.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/killscreen/do-you-read-do-you-play-videogames-do-you-read-v">DO YOU READ? DO YOU PLAY VIDEOGAMES? DO YOU READ VIDEOGAMES? LET KILL SCREEN HELP.</a></h5><div class="by">
            by <a href="/profile/killscreen">Kill Screen</a>
          </div></div>
        <div class="middle">
          <p>A videogame magazine with more words than explosions that will feature photos and writings and maybe some pin-ups. It's coffee table compatible.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 82.79%;">
                &nbsp;&nbsp;$2,897.50 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;83% funded
            </div>
            <div class="time-left right">
              51 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col0">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/Lauran/lets-find-my-dogwalker-and-write-a-book-0">
            <img alt="Cover3" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/706/cover3.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/Lauran/lets-find-my-dogwalker-and-write-a-book-0">Let's Find My Dogwalker &amp; Write a Book</a></h5><div class="by">
            by <a href="/profile/Lauran">lauran</a>
          </div></div>
        <div class="middle">
          <p>My dogwalker has been missing for weeks. What happened? With the help of Private Investigator Jerry Palace, I hope to track her down &amp; write a book.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 31.39%;">
                &nbsp;&nbsp;$565 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;31% funded
            </div>
            <div class="time-left right">
              12 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col1">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/nickd/cadence-and-slang-is-a-book-about-interaction-design">
            <img alt="Cs-kickstarter" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/843/cs-kickstarter.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/nickd/cadence-and-slang-is-a-book-about-interaction-design">Cadence &amp; Slang is a book about interaction design.</a></h5><div class="by">
            by <a href="/profile/nickd">Nick Disabato</a>
          </div></div>
        <div class="middle">
          <p>I'm halfway done with a book about the art and craft of interaction design. Preorder an autographed copy for only $40!</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 27.32%;">
                &nbsp;&nbsp;$2,677.07 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;27% funded
            </div>
            <div class="time-left right">
              71 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col2">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/mikea/for-thousands-of-miles">
            <img alt="Ftom_block_kickstarter_thumbnail-1-1" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/616/FToM_Block_Kickstarter_Thumbnail-1-1.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/mikea/for-thousands-of-miles">For Thousands of Miles - a documentary about leaving everything behind</a></h5><div class="by">
            by <a href="/profile/mikea">Mike Ambs</a>
          </div></div>
        <div class="middle">
          <p>We've invested 6 years &amp; almost $35k to get this feature-length doc' to where it stands today. Help us wrap up the last few stages of post-production!</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 18.53%;">
                &nbsp;&nbsp;$1,538 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;19% funded
            </div>
            <div class="time-left right">
              63 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col3">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/928045737/florine-ep-on-vinyl-limited-edition">
            <img alt="Florine_on_vinyl" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/572/florine_on_vinyl.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/928045737/florine-ep-on-vinyl-limited-edition">Florine EP on Vinyl- Limited Edition</a></h5><div class="by">
            by <a href="/profile/928045737">julianna barwick</a>
          </div></div>
        <div class="middle">
          <p>it would be really fantastic to see the florine ep put on vinyl- especially with the help of friends.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 58.87%;">
                &nbsp;&nbsp;$1,471.68 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;59% funded
            </div>
            <div class="time-left right">
              14 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col0">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/thefishes/the-fishes-are-photographing-every-sizzler-in-the">
            <img alt="Kstr" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/861/KSTR.image.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/thefishes/the-fishes-are-photographing-every-sizzler-in-the">The Fishes are Photographing Every Sizzler in the United States of America!</a></h5><div class="by">
            by <a href="/profile/thefishes">The Fishes</a>
          </div></div>
        <div class="middle">
          <p>All 206 of them.  That pretty much sums it up.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 11.67%;">
                &nbsp;&nbsp;$1,400 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;12% funded
            </div>
            <div class="time-left right">
              20 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col1">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/149390786/a-new-web-video-concept-telegraph21">
            <img alt="Foto" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/660/foto.2.lauren.2.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/149390786/a-new-web-video-concept-telegraph21">A new web video concept: telegraph21.</a></h5><div class="by">
            by <a href="/profile/149390786">Team t21: Steffie, Lauren, &amp; Christine</a>
          </div></div>
        <div class="middle">
          <p>telegraph21 is a curated video space, part-gallery, part-video magazine with a focus on non-fiction storytelling and art from around the world.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 46.75%;">
                &nbsp;&nbsp;$2,805 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;47% funded
            </div>
            <div class="time-left right">
              21 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col2">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/701662757/makerbeam-an-open-source-building-kit">
            <img alt="Makerbeamthumb" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/725/MakerBeamThumb.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/701662757/makerbeam-an-open-source-building-kit">MakerBeam: An Open Source Building Kit</a></h5><div class="by">
            by <a href="/profile/701662757">MakerBeam</a>
          </div></div>
        <div class="middle">
          <p>Is it the Erector Set of the Internet Age? Or is it the bones and gristle of an open source revolution? Mini-T, by MakerBeam, is both.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 64.64%;">
                &nbsp;&nbsp;$6,464.01 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;65% funded
            </div>
            <div class="time-left right">
              29 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="col3">
    <div class="little grey-frame b-card">
      <div class="grey-frame-inner b-card-inner">
        <div class="thumbnail left">
          <a href="/projects/aeiowu/liferaft-episode-1-a-retro-platformer-video-game">
            <img alt="Kickstartercomp" class="projectphoto-little" src="http://s3.amazonaws.com/ksr/photos/669/kickstarterCOMP.little.jpg" width="200" height="150">
          </a>
        </div>
        <div class="top">
          <h5><a href="/projects/aeiowu/liferaft-episode-1-a-retro-platformer-video-game">Liferaft Episode 1 - A retro platformer video game.</a></h5><div class="by">
            by <a href="/profile/aeiowu">Greg Wohlwend</a>
          </div></div>
        <div class="middle">
          <p>Liferaft is a PC/Mac retro platformer game being made by two guys in the middle of Iowa. We hope to release the entire game through 3 episodes.</p>
        </div>
        <div class="bottom">
          <div class="project-foot">
            <div class="pledged">
              <div class="pledged-inner" style="width: 42.14%;">
                &nbsp;&nbsp;$2,107 pledged
              </div>
            </div>
            <div class="time-left left">
              &nbsp;&nbsp;42% funded
            </div>
            <div class="time-left right">
              44 days to go
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="clear"></div>
