<% title "New Comment" %>

<% form_for @comment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :believer_id %><br />
    <%= f.text_field :believer_id %>
  </p>
  <p>
    <%= f.label :idea_id %><br />
    <%= f.text_field :idea_id %>
  </p>
  <p>
    <%= f.label :words %><br />
    <%= f.text_area :words %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>


