<% title "User Profile" %>

<p>
  <strong>Url:</strong>
  <%=h @user_profile.url %>
</p>
<p>
  <strong>About:</strong>
  <%=h @user_profile.about %>
</p>
<p>
  <strong>Twitter Handle:</strong>
  <%=h @user_profile.twitter_handle %>
</p>

<p>
  <%= link_to "Edit", edit_user_profile_path(@user_profile) %> |
  <%= link_to "Destroy", @user_profile, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_profiles_path %>
</p>
