<% title "Likings" %>

<table>
  <tr>
    <th>Believer</th>
    <th>Idea</th>
    <th>Degree Of</th>
  </tr>
  <% for liking in @likings %>
    <tr>
      <td><%=h liking.believer_id %></td>
      <td><%=h liking.idea_id %></td>
      <td><%=h liking.degree_of %></td>
      <td><%= link_to "Show", liking %></td>
      <td><%= link_to "Edit", edit_liking_path(liking) %></td>
      <td><%= link_to "Destroy", liking, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Liking", new_liking_path %></p>
