<h1>Editing transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :idea_id %><br />
    <%= f.text_field :idea_id %>
  </p>
  <p>
    <%= f.label :backer_id %><br />
    <%= f.text_field :backer_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>