<p>
  <b>Description:</b>
  <%=h @image.description %>
	<%= image_tag @image.graphic.url(:original) %>
</p>

<p>
  <b>Idea:</b>
  <%=h @image.idea_id %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>