		<div id="user_nav">
			<%- if current_user -%>
				Welcome <%= current_user.username %>
				<%= link_to "Edit Profile", edit_user_path(:current) %> | 
				<%= link_to "Logout", logout_path %> | 
				<a href="/form.html">Invite to an Event</a>
			<%- else -%>
				<%= link_to "Register", new_user_path %> | 
				<%= link_to "Login", login_path %>
			<%- end -%>
		</div>
		<%= image_tag('igadblog.jpg', :size => "760x127", :border => "0", :alt => "Sign up!", :id => "header_image") %>
